.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-top: 5vw;
}
.title {
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 134.8%;
  color: #0a072d;
  text-align: center;
}
#dark {
  color: white;
}

/* Mobile */
.mobileTitle {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  line-height: 134.8%;
  letter-spacing: 0.055em;
  color: #0a072d;
  margin-top: 5vw;
}
